.hero-info{
    padding-left:0px;
} 

.hero-info img{
    width:120px;
    height:200px;
    opacity:0.7;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-info img:hover{

    opacity:1;
    width:140px;
    height:220px;
    cursor:pointer;
}

#activated{
    opacity:1;
    width:140px;
    height:220px;
}

@media only screen and (max-width:670px){
    .hero-info img{
        width:90px;
        height:150px;
    }

    .hero-info img:hover{

        opacity:1;
        width:110px;
        height:170px;
        cursor:pointer;
    }

    #activated{
        opacity:1;
        width:110px;
        height:170px;
    }
}

@media only screen and (max-width:670px){
    .hero-info img{
        width:90px;
        height:150px;
    }
}