.Panel{
    width:100%;
    height:60%;
    margin: 0;
    color:blueviolet;
    font-family: 'Play', sans-serif;
}

.Panel-Outer{
    position:relative;
    background-color: #d3d3d3;
    opacity:0.9;
    height: 100%;
    border: 10px solid #6673f2ff;
    padding:0px;
}

.bubble-tri{
    height: 10%;
}

.Panel-Inner{

    position:absolute;
    width:100%;
    height:100%;
    padding:0;
    text-overflow:ellipsis;
    text-align:center;
    word-break:break-all;
}

.Panel-Inner .row{
    margin:0;
}

.hero-panel-info{
    height:100%;
    width:100%;
}

.progress-bar-custom{

    padding: 5px 0;
}

.progress-bar-custom h6{

    text-align:left;
}

.hero-characteristics{
    text-align:left;
    padding: 5px 0px;
}

.hero-characteristics p{
    margin:0px;
    font-weight:400;
    color:black;
}

.hero-skills{
    text-align:left;
    padding: 5px 0px;
}

.skill{
    padding: 5px 0px;
    text-align:left;
}

.hero-img{
    position:relative;
}

.hero-img img{
    position:absolute;
    left: 25%;
    right:25%;
    width:50px;
    height:100px;
    margin-left: auto;
    margin-right: auto;
}
h6{
    font-weight:700 ;
}

.welcome-message{
    height:100%;
}

@media only screen and (max-height:550px){
    h6{
        font-size:10px;
    }
    p{
        font-size:8px;
    }
    h4{
        font-size: 12px;
    }
}